{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}
<div class="container pt-5 col-sm-12 col-md-9 col-lg-9">
    <div class="card bg-light px-4 mb-5">
        <div class="container px-4">
            <h1 class="text-center my-5">VOTRE AVIS</h1>
            <form method="POST">
                <div class="row">
                    <p class="col-sm-8"><strong>Société :</strong> {{ company }}</p>
                    <p class="col-sm-4"><strong>Date de la formation :</strong> {{ trainingDate |date('d/m/Y') }}</p>
                </div>
                <div class="row justify-content-between">
                    <p class="col-sm-8"><strong>Intitulé de la formation :</strong> {{ trainingName }}</p>
                    <p class="col-sm-4"><strong>Date :</strong> {{ "now"|date("d/m/Y") }}</p>
                </div>
                <div class="form-group row">
                    <label for="input_name" class="col-sm-8"><strong>Nom</strong> (ne pas remplir si vous préférez rester anonyme) :</label>
                    <div class="col-sm-4">
                        <input type="text" id="input_name" name="name">
                    </div>
                </div>
                <hr class="my-4">
                <p class="question">Pour quelle(s) raison(s) avez-vous suivi cette formation ?</p>
                {% for question in questions|slice(0, 4) %}
                    <div class="form-group row">
                        <p class="col-sm-10" >{{ question.question }}</p>
                        <div class="col-sm-2">
                            <select name="responseYN{{ loop.index }}">
                                {% for YN in evalYn %}
                                    <option  value="{{YN.id}}" >{{YN.response}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <hr class="my-4">
                <p class="question line">Mettez une valeur en fonction de votre appréciation :</p>
                <p class="bold"> (<span class="red">1</span> = insatisfaisant, <span class="orange">2</span> = peu satisfaisant, <span class="olive">3</span> = satisfaisant, <span class="green">4</span> = très satisfaisant)
                </p>
                {% for question in questions|slice(4, 10) %}
                    <div class="form-group row">
                        <p class="col-sm-10" >{{ question.question }}</p>
                        <div class="col-sm-2">
                            <select name="responseScore{{ loop.index }}">
                                {% for score in evalScore %}
                                    <option value="{{score.id}}" >{{score.score}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group row">
                    <label for="input_global_score" class="col-sm-10 bold">VOTRE NOTE DE SATISFACTION GLOBALE :</label>
                    <div class="col-sm-1">
                        <select name="global_score">
                            {% for i in 0..10 %}
                                <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Vos commentaires nous aident aussi, merci :</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                </div>
                <p>
                    Vous allez pouvoir consulter et télécharger notre mémento ainsi que toute la documentation nécessaire. Pour finaliser et parfaire un bon parcours d’apprentissage, il est aussi intéressant de stimuler sa mémoire.
                    L’occasion était trop belle pour nous d’élaborer 3 questions simples, finalisant l’observation de vos compétences acquises. Parce que la vraie finalité de cette action de formation que vous avez suivie, c’est d’avoir aussi le sentiment d’utilité pour chacun.
                </p>
                <div class="col text-center">
                    <button type="submit" class="btn btn-info my-4">Suivant</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
