{% extends 'base.html.twig' %}

{% block title %}Hello EvaluationController!{% endblock %}

{% block body %}
    <div class="container pt-5 col-sm-12 col-md-9 col-lg-9">
        <div class="card bg-light px-4 mb-5">
            <div class="container px-4">
                <h1 class="text-center my-5">VOTRE AVIS</h1>
                <form method="POST" onsubmit="return confirm('Voulez-vous vraiment soumettre le formulaire ?')">
                    <div class="row">
                        <p class="col-sm-8"><strong>Société :</strong> {{ company }}</p>
                        <p class="col-sm-4"><strong>Date de la formation :</strong> {{ trainingDate |date('d/m/Y') }}</p>
                    </div>
                    <div class="row justify-content-between">
                        <p class="col-sm-8"><strong>Intitulé de la formation :</strong> {{ trainingName }}</p>
                        <p class="col-sm-4"><strong>Date :</strong> {{ "now"|date("d/m/Y") }}</p>
                    </div>
                    <div class="form-group row">
                        <label for="input_name" class="col-sm-8"><strong>Nom</strong> (ne pas remplir si vous préférez rester anonyme) :</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="input_name" name="name">
                        </div>
                    </div>
                    <hr class="my-4">
                    <p class="question">Pour quelle(s) raison(s) avez-vous suivi cette formation ?</p>
                    {% for question in questions|slice(0, 4) %}
                        <div class="form-group row">
                            <p class="col-sm-10" >{{ question.question }}</p>
                            <div class="col-sm-2">
                                <select class="form-control" name="responseYN{{ loop.index }}">
                                    {% for YN in evalYn %}
                                        <option  value="{{YN.id}}" >{{YN.response}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                    <hr class="my-4">
                    <p class="question line">Mettez une valeur en fonction de votre appréciation :</p>
                    <p class="bold"> (<span class="red">1</span> = insatisfaisant, <span class="orange">2</span> = peu satisfaisant, <span class="olive">3</span> = satisfaisant, <span class="green">4</span> = très satisfaisant)
                    </p>
                    {% for question in questions|slice(4, 10) %}
                        <div class="form-group row">
                            <p class="col-sm-10" >{{ question.question }}</p>
                            <div class="col-sm-2">
                                <select class="form-control" name="responseScore{{ loop.index }}">
                                    {% for score in evalScore %}
                                        <option value="{{score.id}}" {% if score.score == 4 %} selected {% endif %}>{{score.score}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group row">
                        <label for="input_global_score" class="col-sm-10 bold">VOTRE NOTE DE SATISFACTION GLOBALE :</label>
                        <div class="col-sm-2">
                            <select class="form-control" name="global_score">
                                {% for i in 0..10 %}
                                    <option value="{{i}}" {% if i == 10 %} selected {% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Vos commentaires nous aident aussi, merci :</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
                    </div>
                    <p>Vous allez pouvoir consulter et télécharger notre mémento ainsi que toute la documentation nécessaire.</p>
                    <div class="col text-center">
                        <button type="submit" class="btn btn-info my-4">Suivant</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="{{ path('ajax-generate-attestation', {'id': participant.id })}}" class="d-none js-link-to-generate-attestation"></a>
    <a href="{{ path('ajax-send-mail', {'id': participant.id })}}" class="d-none js-link-to-send-mail"></a>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const linkToGenerateAttestation = document.querySelector('a.js-link-to-generate-attestation').href;
        const linkToSendMail = document.querySelector('a.js-link-to-send-mail').href;

        var attestationGenerated = false;

        const generateAttestation = () => {
            axios.get(linkToGenerateAttestation)
                .then(response => console.log(response.data))
                .then(response => {
                    attestationGenerated = true
                    sendMail();
                })
        }
        const sendMail = () => {
            if(attestationGenerated == true){
                axios.get(linkToSendMail)
                    .then(response => console.log(response.data))
            }
        }

        generateAttestation();
    </script>
{% endblock %}
