{% extends 'base.html.twig' %}

{% block title %}QCM{% endblock %}

{% block body %}
    <div class="container mt-5 col-sm-12 col-md-7 col-lg-7">
        <div class="card bg-light mb-5">
            <div class="container-qcm mx-4">
                <h2 class="text-center my-4">QCM</h2>
                <p class="message-qcm">Pour finaliser et parfaire un bon parcours d’apprentissage, il est aussi intéressant de stimuler sa mémoire.
                    L’occasion était trop belle pour nous d’élaborer <span class="three-questions">3 questions simples</span>, finalisant l’observation de vos compétences
                    acquises. Parce que la vraie finalité de cette action de formation que vous avez suivie, c’est d’avoir aussi le
                    sentiment d’utilité pour chacun.</p>
                <form method="post">
                    <div class="row mb-3 mt-5 question-qcm">
                    {{ question.id }}. {{ question.text }}
                    </div>
                    {% for response in responses|slice(0,3) %}
                        <div class="row mb-2">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="response" id="gridRadios1" value="{{ response.id }}">
                                    <label class="form-check-label" for="gridRadios1">
                                        {{ response.text }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="qcm-error mt-3">
                        {% if error is defined %}
                            {{ error }}
                        {% endif %}
                    </div>
                    <div class="col text-center mt-3">
                    {% if result is defined %}
                        <a href="{{ path('qcm_2') }}" class="btn btn-success my-3">Suivant</a>
                    {% else %}
                        <button type="submit" class="btn btn-info my-3">Valider</button>
                    {% endif %}
                    </div>
                </form>
                {% if result is defined and result == true %}
                     <p>Bravo !</p>
                {% elseif result is defined and result == false%}
                     <p>Voici la bonne réponse :</p>
                     <p>L’absence de signes de vie correspond à un arrêt cardiaque, la victime ne ventile pas, n’a pas de mouvement et ne
                            parle pas. On peut donc affirmer qu’elle ne respire pas et ne bouge pas.</p>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
