{% extends 'base.html.twig' %}

{% block title %}QCM{% endblock %}

{% block body %}
    <div class="container mt-5 col-sm-12 col-md-7 col-lg-7">
        <div class="row mb-3">
            <h2>QCM</h2>
        </div>
        <form method="post">
            <div class="row mb-3">
           {{ question.id }}. {{ question.text }}
            </div>
            {% for response in responses|slice(0,3) %}
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="response" id="gridRadios1" value="{{ response.id }}">
                            <label class="form-check-label" for="gridRadios1">
                                {{ response.text }}
                            </label>
                        </div>
                    </div>
                </div>
             {% endfor %}

            {% if result is defined %}
                <a href="{{ path('qcm_2') }}" class="btn btn-success my-3">Suivant</a>
            {% else %}
                <button type="submit" class="btn btn-primary my-3">Valider</button>
            {% endif %}
        </form>

        {% if result is defined and result == true %}
             <p>Bravo !</p>
        {% elseif result is defined and result == false%}
             <p>Voici la bonne réponse :</p>
             <p>L’absence de signes de vie correspond à un arrêt cardiaque, la victime ne ventile pas, n’a pas de mouvement et ne
                    parle pas. On peut donc affirmer qu’elle ne respire pas et ne bouge pas.</p>
        {% else %}
        {% endif %}
    </div>
{% endblock %}

{#{% block body %}
    <h2>QCM</h2>

    {% for question in questions|slice(0,1) %}
        {{ form_start(form1) }}
        <form>
        {{ question.id }}. {{ question.text }}
        {% for response in responses|slice(0,3) %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                            {{ response.text }}
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <button class="btn">{{ button_label|default('Save') }}</button>
        <br>
        {{ form_end(form1) }}
        </form>
        {{ message1 }}
        <br><br>
        {% endfor %}

        {% for question in questions|slice(1,1) %}
            {{ form_start(form2) }}
            {{ question.id }}. {{ question.text }}
            {% for response in responses|slice(3,3) %}
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                            <label class="form-check-label" for="gridRadios1">
                                {{ response.text }}
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        {{ form_end(form2) }}
        <br>
    {% endfor %}

    {% for question in questions|slice(2,1) %}
        {{ form_start(form3) }}
        {{ question.id }}. {{ question.text }}
        {% for response in responses|slice(6,3) %}
            <div class="row">
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                        <label class="form-check-label" for="gridRadios1">
                            {{ response.text }}
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
        <br>
        {{ form_end(form3) }}
        <br>
    {% endfor %}
{% endblock %}#}
