{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {{ contact.civility }} {{ contact.firstname }} {{ contact.lastname }}
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="10"></spacer>
        <row>
            <columns>
                <p>
                    Bonjour, merci d'avoir participé à notre formation.
                    Vous retouverez dans ce mail votre attestation en pièce jointe ainsi qu'un lien vers le memento de la formation.
                </p>
            </columns>
        </row>
        <row>
            <columns>Lien :
                <a class="btn btn-success" href="{{ url('memento') }}">
                    Memento
                </a>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <div class="logo">
                        <a href="{{ url('home_index') }}">
                            <img src="{{ email.image('@images/email/logo.jpg') }}" class="logo1" alt="LUF LOGO">
                        </a>
                        <a href="https://www.schiller.ch/fr/fr">
                            <img src="{{ email.image('@images/email/logoschiller.jpg') }}" class="logo2" alt="SCHILLER LOGO">
                        </a>
                    </div>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
