{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <row class="header">
            <columns>
                <a href="{{ url('home_index') }}">
                    <img src="{{ email.image('@images/email/logo.jpg') }}" class="logo" alt="LUF LOGO">
                </a>
            </columns>
        </row>
        <row class="welcome">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        {{ contact.firstname }} {{ contact.lastname }}
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <spacer size="30"></spacer>
        <row>
            <columns>
                <p>
                    <strong>Email</strong> : {{ contact.email }}
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    <strong>Objet</strong> : {{ contact.object }}
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <p>
                    Vous avez reçu un mail de <strong>{{ contact.firstname }} {{ contact.lastname }}</strong> :
                </p>
            </columns>
        </row>
        <row>
            <columns>
                <center>
                    {{ contact.message }}
                </center>
            </columns>
        </row>
        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <a href="https://www.schiller.ch/fr/fr">
                        <img src="{{ email.image('@images/email/logoschiller.jpg') }}" class="logo" alt="SCHILLER LOGO">
                    </a>
                </center>
            </columns>
        </row>
    </container>
{% endapply %}
