<p>Vous avez reçu un mail de <strong>{{ contact.firstname }} {{ contact.lastname }}</strong> :</p>
<div>
    <p><strong>Email</strong> : {{ contact.email }}</p>
    <p><strong>Objet</strong> : {{ contact.object }}</p>
    <p>{{ contact.message }}</p>
</div>